.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 40vh;
  justify-content: space-evenly;
  border-style: solid;
  width: 40vw;
}
.submit {
  background-color: rgb(255, 0, 0);
  padding: 1%;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
