.navbar {
  height: 7vh;
  width: 100%;
  border-style: dashed;
  background-color: black;
  color: wheat;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
